.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
body {
  height: 100vh;
  width: 100%;
}
* {
  margin: 0;
}
